.header-warning {
  margin: 10px 30px;
}

.button-bar {
  display: flex;
  flex-direction: row;
}

@keyframes spin {
  100% {
    transform: rotate(360deg); transform:rotate(360deg);
  }
}

.status {
  opacity: 0;
  margin-left: 3px;
  padding: 7px;
  animation: spin 2s linear infinite;
  transition: opacity 500ms ease;
}

.status.show {
  opacity: 1;
  transition: opacity 500ms ease;
}